<footer>
  <nav>
    <ul>
      <li>
        <a href="/">
          <i class="fa fa-film" aria-hidden="true"></i>
          <h5>Sylke</h5>
        </a>
      </li>
      <li>
        <a href="/add-film">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <h5>Cara</h5>
        </a>
      </li>
    </ul>
  </nav>
</footer>
</section>
</body>
</html>
